html{
	font-family: 'Gentium Book Basic', serif;
	font-size: 1.1em;
	background-color: #42a5f5;
}
h1{
	font-size: 1.8em !important;
	text-align: center;
	text-transform: small-caps;
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 900;
	color: #42a5f5;
}


#header{
	margin-bottom:0px;
}
.container{
	width:90%;
}
.row{
	margin-bottom:0px;
}
.phantom{
	display: none;
}

.game-row{
	padding-top:20px;
	padding-bottom:20px;
}

/*current question*/
.current{ margin-top:15px; }
.current .card{ min-height:150px; }
.question{ text-align: justify; }
.current table th{ 
	vertical-align: top; 
	font-weight: normal; 
	font-style: italic;
}

/*timeline*/
table#timelinetable{
	margin-bottom:10px;
	margin-top:10px;
}

table#timelinetable th, table#timelinetable td{
	padding:5px;
}
table#timelinetable .possibility{
	vertical-align: top;
	/*padding-right: 10px;*/
}
table#timelinetable .possibility a{
	float:left;
	margin-top:-22px;
}
table#timelinetable .year{
	vertical-align: top;	
	font-style: italic;
	text-align:right;
}
i.red.circle{
	cursor: pointer;
}


/*answers*/

#youlost .card-content{
	/*margin-bottom:0px;*/
	height:auto !important;
}
#youlost .card.small{
	height:auto !important;
}
#youlost .modal-content p{
}
#youlost .modal-content span{
}
#youlost #resultstable th#firstlevel{
	min-width: 150px;
}

/*footer*/

.footer-row{
	color: #333;
	font-size: 0.8em;
}
.footer-row a{
	text-decoration: underline;
	color: inherit;
}
