html{
	font-family: 'Gentium Book Basic', serif;
	font-size: 1.1em;
	background-color: #efefef;
}
h1{
	font-size: 1.6em !important;
	text-transform: small-caps;
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 900;
}

.row{ margin-bottom:0px; }
.error-row{ margin-bottom:10px; }
.question{ padding:0px !important; }
.timeline{ margin-bottom:15px; margin-top:15px;}
.question.el{ width: auto; }

/*allows for vertical alignment*/
.el .card-content.valign-wrapper { height: 100%; }

.year.card-content, .marks.card-content { padding:5px; padding-left:20px !important; }

.card-content.event { font-size:0.8em; }


/*LARGE TIMELINE*/

/*no gap when cards wrap*/
	#large-timeline .card{ margin-bottom:0px;  padding-bottom:0px; }
	
	#large-timeline .el{
		vertical-align: top;
		display: inline-block;
		height: 150px;
		width: auto;
		max-width: 200px;
	}
	
	#large-timeline a.possibility .card-content{ padding:1px !important; }

	#large-timeline .el.card{ overflow: scroll; }

/*SMALL TIMELINE*/
	#small-timeline {
		margin-top:		20px;
		margin-bottom:	20px;
	}

	/*full-width year boxes*/
	#small-timeline .el{ padding:0px !important; }

	#small-timeline a.possibility .card-content{ padding:2px !important; margin-top:5px; }

	#small-timeline .el.card{ margin:0px; }



/* FOOTER */
.footer-row{ color: #333; font-size: 1em; }
.footer-row a{ text-decoration: underline; color: inherit; }

.strikes{
	padding-top:10px;
}

/* FLASH */

.flashRight {
	animation-name: rightMove;
	animation-duration: 1.5s;
}


.flashWrong {
	animation-name: wrongMove;
	animation-duration: 1.5s;
}

@-webkit-keyframes rightMove {
	from { background-color: lightgreen; }
	to { background-color: white; }
}
@-moz-keyframes rightMove {
	from { background-color: lightgreen; }
	to { background-color: white; }
}
@-ms-keyframes rightMove {
	from { background-color: lightgreen; }
	to { background-color: white; }
}
@-o-keyframes rightMove {
	from { background-color: lightgreen; }
	to { background-color: white; }
}
@keyframes rightMove {
	from { background-color: lightgreen; }
	to { background-color: white; }
}

@-webkit-keyframes wrongMove {
	from { background-color: pink; }
	to { background-color: white; }
}
@-moz-keyframes wrongMove {
	from { background-color: pink; }
	to { background-color: white; }
}
@-ms-keyframes wrongMove {
	from { background-color: pink; }
	to { background-color: white; }
}
@-o-keyframes wrongMove {
	from { background-color: pink; }
	to { background-color: white; }
}
@keyframes wrongMove {
	from { background-color: pink; }
	to { background-color: white; }
}