html{
	font-family: 'Gentium Book Basic', serif;
	font-size: 1.1em;
	background-color: #efefef;
	/*background-color: #e8f5e9;*/
}
h1{
	font-size: 1.6em !important;
	text-transform: small-caps;
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 900;
	margin-bottom:0px;
	padding-bottom:0px;
}

.row{ margin-bottom:0px; }
.error-row{ margin-bottom:10px; }
.question{ padding:0px !important; }
.timeline{ margin-bottom:15px; margin-top:15px;}
.question.el{ width: auto;}
.clue-row { margin-bottom:-20px;}

/*allows for vertical alignment*/
.el .card-content.valign-wrapper { height: 100%; }
.card-content.event-content { font-size:0.8em; }
.year-content, .marks-col { padding:0px !important; padding-left:20px !important; }


/*LARGE TIMELINE*/

/*no gap when cards wrap*/
	#large-timeline .card{ margin-bottom:0px;  padding-bottom:0px; }
	
	#large-timeline .el{
		vertical-align: top;
		display: inline-block;
		height: 150px;
		width: auto;
		max-width: 200px;
	}
	
	#large-timeline a.possibility .card-content{ padding:1px !important; cursor: pointer; }

	#large-timeline .el.card{ overflow: scroll; }

/*SMALL TIMELINE*/
	#small-timeline {
		margin-top:		20px;
		margin-bottom:	20px;
	}

	/*full-width year boxes*/
	#small-timeline .el{ padding:0px !important; }

	#small-timeline a.possibility .card-content{ padding:2px !important; margin-top:5px; cursor: pointer; }

	#small-timeline .el.card{ margin:0px; padding-bottom:0px; }



/* FOOTER */
.footer-row{ color: #333; font-size: 1em; }
.footer-row a{ text-decoration: underline; color: inherit; }

.strikes{ padding-top:10px; }
